
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gaogenxie:before { content: "\e609"; }
.icon-diaodai:before { content: "\e600"; }
.icon-kuzi:before { content: "\e60a"; }
.icon-yunfuzhuang:before { content: "\e601"; }
.icon-xie:before { content: "\e60b"; }
.icon-xie1:before { content: "\e60c"; }
.icon-fuzhuangxiexue01:before { content: "\e60d"; }
.icon-ok:before { content: "\e627"; }
.icon-ok1:before { content: "\e628"; }
.icon-pinok:before { content: "\e629"; }
.icon-yifu:before { content: "\e602"; }
.icon-trousers:before { content: "\e60e"; }
.icon-shouji:before { content: "\e60f"; }
.icon-chukujiaojie:before { content: "\e61b"; }
.icon-shouhuoruku:before { content: "\e61c"; }
.icon-rukuguanli:before { content: "\e61d"; }
.icon-ok2:before { content: "\e62a"; }
.icon-finanMg:before { content: "\e61e"; }
.icon-caiwu:before { content: "\e61f"; }
.icon-chukuguanli01:before { content: "\e620"; }
.icon-browserok:before { content: "\e62b"; }
.icon-shouji1:before { content: "\e610"; }
.icon-diannao:before { content: "\e606"; }
.icon-chukuguanli:before { content: "\e621"; }
.icon-pingbandiannao:before { content: "\e611"; }
.icon-shouji2:before { content: "\e612"; }
.icon-pingbandiannao1:before { content: "\e613"; }
.icon-okcircle:before { content: "\e62c"; }
.icon-gouwuche:before { content: "\e603"; }
.icon-gouwuchezhuanhuan:before { content: "\e604"; }
.icon-basketok:before { content: "\e62d"; }
.icon-phone:before { content: "\e614"; }
.icon-messageokicon:before { content: "\e62e"; }
.icon-caiwuguanli:before { content: "\e622"; }
.icon-shao04:before { content: "\e615"; }
.icon-yanshouruku:before { content: "\e623"; }
.icon-pingban:before { content: "\e616"; }
.icon-jinchukuxinxi:before { content: "\e624"; }
.icon-xiexuexiangbao:before { content: "\e617"; }
.icon-diannao1:before { content: "\e607"; }
.icon-rukucaozuo:before { content: "\e625"; }
.icon-caiwu1:before { content: "\e626"; }
.icon-diannao2:before { content: "\e608"; }
.icon-geren:before { content: "\e618"; }
.icon-signok:before { content: "\e62f"; }
.icon-iconmoban220:before { content: "\e619"; }
.icon-jiankangyifu:before { content: "\e605"; }
.icon-jiadianxie:before { content: "\e61a"; }
