<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/app.css" />
		<style type="text/css">
			.mui-loading{
				margin-top: 100px;
			}
		</style>
	</head>
	<body>
		<div class="mui-content" id="content">
			<div class="mui-loading">
				<div class="mui-spinner"></div>
			</div>
		</div>
		
		<script id="detail" type="text/x-handlebars-template">
			<div class="cl-goods-panel">
				<img id="imgUrl" class="mui-pull-left cl-goods-object" src="{{imgUrl}}" />
				<div class="cl-goods-info">
					<h1 id="goodsName" class="cl-goods-info-title">{{goodsName}}</h1>
					<p id="goodsCode" class="cl-goods-info-desc">{{goodsCode}}</p>
				</div>
			</div>
			{{#equal type 1}}
			<ul class="mui-table-view cl-table-header">
				<li class="mui-table-view-cell">
					<span class="mui-col-xs-4 cl-triangle">尺码</span>
					<span class="mui-col-xs-3 cl-triangle">颜色</span>
					<span class="mui-col-xs-5 cl-triangle">数量</span>
				</li>
			</ul>
			<ul class="mui-table-view cl-table-body">
				{{#each goodsInfo}}
				<li class="mui-table-view-cell">
					<span class="mui-col-xs-4">{{goodsSku.size}}</span>
					<span class="mui-col-xs-3">{{goodsSku.color}}</span>
					<span class="mui-col-xs-5 cl-numbox-span">
						<div class="mui-numbox" data-numbox-min='0'>
							<button class="mui-btn mui-numbox-btn-minus">-</button>
							<input type="number" class="mui-numbox-input" data-size="{{goodsSku.size}}" data-color="{{goodsSku.color}}" data-goods-id="{{goodsId}}"/>
							<button class="mui-btn mui-numbox-btn-plus">+</button>
						</div>
					</span>
				</li>
				{{/each}}
			</ul>
			{{/equal}}
			{{#equal type 2}}
			<ul class="mui-table-view cl-table-header">
				<li class="mui-table-view-cell">
					<span class="mui-col-xs-2 cl-triangle">尺码</span>
					<span class="mui-col-xs-3 cl-triangle">颜色</span>
					<span class="mui-col-xs-2 cl-triangle">库存量</span>
					<span class="mui-col-xs-5 cl-triangle">下单数量</span>
				</li>
			</ul>
			<ul class="mui-table-view cl-table-body">
				{{#each goodsInfo}}
				<li class="mui-table-view-cell">
					<span class="mui-col-xs-2">{{goodsSku.size}}</span>
					<span class="mui-col-xs-3">{{goodsSku.color}}</span>
					<span class="mui-col-xs-2">{{quantity}}</span>
					<span class="mui-col-xs-5 cl-numbox-span">
						<div class="mui-numbox" data-numbox-min="0" data-numbox-max="{{quantity}}">
							<button class="mui-btn mui-numbox-btn-minus">-</button>
							<input type="number" class="mui-numbox-input" data-size="{{goodsSku.size}}" data-color="{{goodsSku.color}}" data-goods-id="{{goodsId}}"/>
							<button class="mui-btn mui-numbox-btn-plus">+</button>
						</div>
					</span>
				</li>
				{{/each}}
			</ul>
			{{/equal}}
			{{#equal type 3}}
			<ul class="mui-table-view cl-table-header">
				<li class="mui-table-view-cell">
					<span class="mui-col-xs-3 cl-triangle">尺码</span>
					<span class="mui-col-xs-3 cl-triangle">颜色</span>
					<span class="mui-col-xs-3 cl-triangle">库存数量</span>
					<span class="mui-col-xs-3 cl-triangle">库龄</span>
				</li>
			</ul>
			<ul class="mui-table-view cl-table-body">
				{{#each goodsInfo}}
				<li class="mui-table-view-cell">
					<span class="mui-col-xs-3">{{goodsSku.size}}</span>
					<span class="mui-col-xs-3">{{goodsSku.color}}</span>
					<span class="mui-col-xs-3">{{quantity}}</span>
					<span class="mui-col-xs-3">0</span>
				</li>
				{{/each}}
			</ul>
			{{/equal}}
		</script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/handlebars-v2.0.0.js"></script>
		<script src="../js/helper.js"></script>
		<script src="../js/app.js"></script>
		<script>
			!function($, doc) {
				
				var detailSource = doc.getElementById('detail').innerHTML;
				var detailTemplate = Handlebars.compile(detailSource);
				var contentEl = doc.getElementById('content');
				var divEl = doc.createElement('div');
				var order = {};
				
				window.addEventListener('before.show.sub', function(e) {
					var barCode = e.detail.barCode;
					var imgUrl = e.detail.imgUrl;
					var type = e.detail.type;
					order.type = type;
					app.getRemoteDetail(barCode, function(data) {
						data.imgUrl = imgUrl;
						data.type = type;
						setTimeout(function() {
							render(data);
						}, app.DURATION_TIME);
					}, true);
				});
				
				window.addEventListener('beforeback', function(e) {
					setTimeout(function() {
						contentEl.innerHTML = '<div class="mui-loading"><div class="mui-spinner"></div></div>';
					}, app.DURATION_TIME);
				});
				
				function render(data) {
					order.datas = [];
					contentEl.innerHTML = detailTemplate(data);
					$('.mui-numbox').numbox();
					var imgUrl = doc.getElementById('imgUrl').src;
					var goodsName = doc.getElementById('goodsName').innerHTML;
					var goodsCode = doc.getElementById('goodsCode').innerHTML;
					$('.mui-numbox').on('change', 'input', function() {
						var goodsId = this.getAttribute('data-goods-id');
						var size = this.getAttribute('data-size');
						var color = this.getAttribute('data-color');
						var num = parseInt(this.value);
						if (num == 0) return;
						var index = indexOf(order.datas, goodsId);
						if (index === -1) {
							order.datas.push({
								goodsId: goodsId,
								num: num,
								imgUrl: imgUrl,
								goodsName: goodsName,
								goodsCode: goodsCode,
								size: size,
								color: color
							})
						} else {
							order.datas[index].num = num;
						}
						app.setOrder(order);						
					});
				}
				
				function indexOf(datas, goodsId) {
					for (var i = 0, len = datas.length; i < len; i++) {
						if (datas[i].goodsId == goodsId) {
							return i;
						}
					}
					return -1;
				}
				
			}(mui, document);
		</script>
	</body>
</html>
