<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/app.css" />
		<style type="text/css">
			.mui-loading{
				margin-top: 100px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class="mui-icon iconfont mui-pull-right" id="orderOK">&#xe62c;</a>
			<h1 id="title" class="mui-title">详情</h1>
		</header>
		<script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script>
			!function($, doc) {
				
				var sub_page;
				
				$.init({
					beforeback: function() {
						app.setOrder({});
						$.fire(sub_page, 'beforeback');
					}
				});
				
				var orderOKEl = doc.getElementById('orderOK');
				var titleEl = doc.getElementById('title');
				
				/**
				 * 打开之前处理的操作
				 */
				window.addEventListener('before.show', function(e) {
					sub_page = plus.webview.getWebviewById('detail-sub');
					switch (e.detail.type) {
						case 1:
							orderOKEl.innerHTML = '&#xe62c;';
							titleEl.innerHTML = '产品入库';
							break;
						case 2:
							orderOKEl.innerHTML = '&#xe62c;';
							titleEl.innerHTML = '产品出库';
							break;
						case 3:
							orderOKEl.innerHTML = '';
							titleEl.innerHTML = '库存查询';
							break;
					};
					$.fire(sub_page, 'before.show.sub', {
						barCode: e.detail.barCode,
						type: e.detail.type,
						imgUrl: e.detail.imgUrl
					});
				});
				
				/**
				 * 将产品添加到出入库单
				 */
				orderOKEl.addEventListener('tap', function() {
					var order = app.getOrder();
					if (order.datas.length == 0) {
						plus.nativeUI.toast('请选择商品数量');
						return;
					}
					var currentWebview = plus.webview.currentWebview();
					var car_page = plus.webview.getWebviewById('car');
					var orders = app.getOrders();
					mix(orders, order);
					app.setOrders(orders);
					currentWebview.hide('fade-out');
					plus.nativeUI.toast('产品已添加到入库单');
				});
				
				/**
				 * 将多条记录组装成一条记录
				 * @param {Object} orders
				 * @param {Object} order
				 */
				function mix(orders, order) {
					if (orders.length == 0) {
						orders.push(order);
						return;
					}
					var typeFlag = false;
					for (var i = orders.length - 1; i >= 0; i--) {
						if (orders[i].type == order.type) {
							typeFlag = true;
							for (var j = order.datas.length - 1; j >= 0; j--) {
								var goodsIdFlag = false;
								var goodsId = order.datas[j].goodsId;
								for (var k = orders[i].datas.length - 1; k >= 0; k--) {
									if (goodsId == orders[i].datas[k].goodsId) {
										goodsIdFlag = true;
										orders[i].datas[k].num += order.datas[j].num;
									}
								}
								if (!goodsIdFlag) {
									orders[i].datas.push(order.datas[j]);
								}
							}
						}
					}
					if (!typeFlag) {
						orders.push(order);
					}
				}
			}(mui, document);
		</script>
	</body>
</html>
