<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/app.css" />
		<style type="text/css">
			.cl-table-header {
				background-color: #eee;
			}
			.mui-content > .mui-table-view:first-child {
				margin-top: 0px;
			}
			.mui-content {
				background-color: #fff;
			}
			.cl-scroll-content {
				position: absolute;
				top: 43px;
				bottom: 0;
				width: 100%;
				height: auto;
			}
		</style>
	</head>
	<body>
		<div class="mui-content mui-fullscreen" style="overflow: hidden;">
			<ul class="mui-table-view cl-table-header">
				<li class="mui-table-view-cell">
					<span class="mui-col-xs-4 cl-triangle">费用名称</span>
					<span class="mui-col-xs-4 cl-triangle">金额</span>
					<span class="mui-col-xs-4 cl-triangle">截止日期</span>
				</li>
			</ul>
			<div class="cl-scroll-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll" id="scroll"></div>
				</div>
			</div>
		</div>
		
		<script id="listTemplate" type="text/x-handlebars-template">
			<ul class="mui-table-view cl-table-body">
				<li class="mui-table-view-cell">
					<span class="mui-col-xs-4">接货费</span>
					<span class="mui-col-xs-4">111.00</span>
					<span class="mui-col-xs-4">2014-04-03</span>
				</li>
			</ul>
		</script>		
		<script src="../js/mui.min.js"></script>
		<script src="../js/handlebars-v2.0.0.js"></script>
		<script src="../js/html5sql.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/goods.js"></script>
		<script>
			!function($, doc) {
				var scrollEl = doc.getElementById('scroll');
				var listSource = doc.getElementById('listTemplate').innerHTML;
				var listTemplate = Handlebars.compile(listSource);
				
				$.init();
				$('.mui-scroll-wrapper').scroll();
				
				window.addEventListener('login.before.show', function() {
					app.getRemoteFinacial(function(data) {
						alert(JSON.stringify(data));
						scrollEl.innerHTML = listTemplate(data);
					})
				});
				
				cl.dbReady(function(isFirst) {
//					cl.addGoods([['3', 'b001', 'nike', 3], ['2', 'b002', 'addidas', 33]]);
//					cl.getGoods(function(goods) {
//						for (var i = goods.length - 1; i >= 0; i--) {
//							alert(JSON.stringify(goods.item(i)))
//						}
//					});
					
					cl.getGoodsByBarCode('b001', function(goods){
						for (var i = goods.length - 1; i >= 0; i--) {
							alert(JSON.stringify(goods.item(i)))
						}
					});
				});
				
			}(mui, document);
		</script>
	</body>
</html>
