<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>main</title>
    <link rel="stylesheet" href="../css/mui.min.css" />
    <link rel="stylesheet" href="../css/app.css" />
    <style>
    </style>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a id="setting" class="mui-icon iconfont mui-pull-left">&#xe619;</a>
		<a id="car" class="mui-icon iconfont mui-pull-right" data-type="1">&#xe61c;</a>
		<h1 id="title" class="mui-title">入库单</h1>
	</header>
	<nav class="mui-bar mui-bar-tab">
		<a href="order-in.html" id="defaultTab" class="mui-tab-item mui-active" data-type="1">
			<span class="mui-icon iconfont">&#xe65a;</span>
			<span class="mui-tab-label">入库单</span>
		</a>
		<a href="order-out.html" class="mui-tab-item" data-type="2">
			<span class="mui-icon iconfont">&#xe664;</span>
			<span class="mui-tab-label">出库单</span>
		</a>
		<a href="stock-srch.html" class="mui-tab-item" data-type="3">
			<span class="mui-icon iconfont">&#xe656;</span>
			<span class="mui-tab-label">库存查询</span>
		</a>
		<a href="finance-srch.html" class="mui-tab-item" data-type="4">
			<span class="mui-icon iconfont">&#xe659;</span>
			<span class="mui-tab-label">财务查询</span>
		</a>
	</nav>
	<script src="../js/mui.min.js"></script>
	<script src="../js/html5sql.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/goods.js"></script>
	<script>
		!function($, doc) {
			
			$.init();
			
			var settingBtn = doc.getElementById('setting');
			var carBtn = doc.getElementById('car');
			
			window.addEventListener('login.before.show', function() {
				var state = app.getState();
				app.getRemoteSummary(function(data) {
					app.setSummary(data);
					var order_in_page = plus.webview.getWebviewById('order-in.html');
					var order_out_page = plus.webview.getWebviewById('order-out.html');
					var stock_srch_page = plus.webview.getWebviewById('stock-srch.html');
					$.fire(order_in_page, 'before.show');
					setTimeout(function() {
						$.fire(order_out_page, 'before.show');
					}, 200);
					setTimeout(function() {
						$.fire(stock_srch_page, 'before.show');	
					}, 400);
					
					/**
					 * 加载缓存
					 */
					app.getRemoteGoodsRefresh(function(data) {
						var temp_goods = [];
						var versionFla = false;
						for (var i in data) {
							if (data[i].boCode == 'w_pub_goods') {
								console.log(JSON.stringify(data[i].records))
								var records = data[i].records;
								var version = data[i].version;
								var cacheVersion = app.getCacheVersion();
								if (cacheVersion['w_pub_goods'] != version) {
									versionFla = true;
									cacheVersion['w_pub_goods'] = version;
									app.setCacheVersion(cacheVersion);		
								}
								for (var j = records.length - 1; j >= 0; j--)	 {
									temp_goods.push([
										records[j].goodsId,
										records[j].goodsCode,
										records[j].barCode,
										records[j].goodsName,
										records[j].imgUrl,
										records[j].ext1,
										records[j].ext2
									]);
								}
							}
						}
						cl.dbReady(function(isFirst) {
							if (isFirst) {
								cl.addGoods(temp_goods);								
							} else if (versionFla) {
								cl.deleteGoods(function() {
									cl.addGoods(temp_goods);
								})
							}
						});
					}, true);
				}, true);
			});
			
			var subpages = ['order-in.html', 'order-out.html', 'stock-srch.html', 'finance-srch.html'];
			var subpages_style = {
				top: "46px",
				bottom: "50px",
				bounce: "vertical"
			}
			
			var aniShow = {};
			
			$.plusReady(function() {
				var main = plus.webview.currentWebview();
				for (var i = 0; i < 4; i++) {
					var temp = {};
					var sub = plus.webview.create(subpages[i], subpages[i], subpages_style);
					if (i > 0) {
						sub.hide();
					} else {
						temp[subpages[i]] = "true";
						$.extend(aniShow, temp);
					}
					main.append(sub);
				}
				
				var activeTab = subpages[0];
				var title = doc.getElementById('title');
				
				$('.mui-bar-tab').on('tap', 'a', function(event) {
					var targetTab = this.getAttribute('href');
					var type = parseInt(this.getAttribute('data-type'));
					switch (type){
						case 1:
							carBtn.innerHTML = '&#xe61c;';
							carBtn.setAttribute('data-type', 1);
							break;
						case 2:
							carBtn.innerHTML = '&#xe61b;';
							carBtn.setAttribute('data-type', 2);
							break;
						case 3:
							carBtn.innerHTML = '';
							carBtn.setAttribute('data-type', 3);
							break;
						case 4:
							carBtn.innerHTML = '';
							carBtn.setAttribute('data-type', 4);
							var page = plus.webview.getWebviewById('finance-srch.html');
							$.fire(page, 'before.show');
							break;
					}
					if (targetTab == activeTab) {
						return;
					}
					title.innerHTML = this.querySelector('.mui-tab-label').innerHTML;
					if ($.os.ios || aniShow[targetTab]) {
						plus.webview.show(targetTab);
					} else {
						//第一次show的方式
						var temp = {};
						temp[targetTab] = "true";
						$.extend(aniShow, temp);
						plus.webview.show(targetTab, "fade-in", 300);
					}
					plus.webview.hide(activeTab);
					activeTab = targetTab;
				});
				
				carBtn.addEventListener('tap', function(e) {
					var car_page = plus.webview.getWebviewById('car');
					var type = this.getAttribute('data-type');
					$.fire(car_page, 'before.show', {
						type: type
					});
					setTimeout(function() {
						car_page.show(app.ANISHOW, app.DURATION_TIME);
					}, 100);
				});
				
				settingBtn.addEventListener('tap', function(e) {
					var setting_page = plus.webview.getWebviewById('setting');
					setTimeout(function() {
						setting_page.show(app.ANISHOW, app.DURATION_TIME);
					}, 100);
				});
				
				$.oldBack = mui.back;
				var backButtonPress = 0;
				$.back = function(event) {
					backButtonPress++;
					if (backButtonPress > 1) {
						plus.runtime.quit();
					} else {
						plus.nativeUI.toast('再按一次退出应用');
					}
					setTimeout(function() {
						backButtonPress = 0;
					}, 1000);
					return false;
				}
				
			})
			
		}(mui, document);
	</script>
</body>
</html>