<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/app.css" />
		<style>
			.mui-loading{
				margin-top: 100px;
			}
		</style>
	</head>
	<body>
		<div class="mui-content" id="content">
			<div class="mui-loading">
				<div class="mui-spinner"></div>
			</div>
		</div>
		
		<script id="summary" type="text/x-handlebars-template">
			<div class="cl-tab-list">
				<ul class="cl-tab-menu">
					{{#each this}}
					<li class="active-{{@index}}"><a href="#">{{type}}</a></li>
					{{/each}}
				</ul>
				<div class="cl-tab-content">
					{{#each this}}
					<div class="active-{{@index}} mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view">
								{{#each typeData}}
								<li class="mui-table-view-cell mui-media" data-bar-code="{{barCode}}" data-img-url = "{{imgUrl}}">
									<a href="javascript:;" class="mui-navigate-right">
										<img class="mui-media-object mui-pull-left" src="{{imgUrl}}">
										<div class="mui-media-body">
											{{goodsName}}
											<p class='mui-ellipsis'>{{barCode}}</p>
										</div>
									</a>
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
					{{/each}}
				</div>
			</div>	
		</script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/handlebars-v2.0.0.js"></script>
		<script>
			!function($, doc) {
				$.init();
				
				$('.mui-scroll-wrapper').scroll();
				
				var summarySource = doc.getElementById('summary').innerHTML;
				var summaryTemplate = Handlebars.compile(summarySource);
				var contentEl = doc.getElementById('content');
				var divEl = doc.createElement('div');

				function render(data) {
					data = data || t;
					divEl.innerHTML = summaryTemplate(data);
					contentEl.appendChild(divEl.firstElementChild);
					var tabs = $('.cl-tab-menu li');
					var contents = $('.cl-tab-content > div');
					var activeTab = 0;
					$('.cl-tab-menu').on('tap', 'li', function(e) {
						var targetTab = indexOf(tabs, this);
						if (targetTab == activeTab) {
							return;
						}
						tabs[targetTab].classList.add('active-0');
						contents[targetTab].classList.add('active-0');
						tabs[activeTab].classList.remove('active-0');
						contents[activeTab].classList.remove('active-0');
						activeTab = targetTab;
					})
					$('.cl-tab-content').on('tap', 'li' ,function() {
						var barCode = this.getAttribute('data-bar-code');
						var imgUrl = this.getAttribute('data-img-url');
						var detailPage = plus.webview.getWebviewById('detail');
						$.fire(detailPage, 'before.show', {
							"barCode": barCode,
							"imgUrl": imgUrl,
							"type": 2
						});
						setTimeout(function() {
							detailPage.show(app.ANISHOW, app.DURATION_TIME);
						}, 50);
					})
				}
				
				function indexOf(els, el) {
					var offset = -1;
					$.each(els, function(index, l) {
						if (el == l) {
							offset = index;
						}
					});
					return offset;
				}
				
				window.addEventListener('before.show', function() {
					contentEl.innerHTML = '';
					var summary = app.getSummary();
					render(summary);
				})
				
			}(mui, document);
		</script>
	</body>
</html>
