<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<style>
			.mui-table-view-cell .mui-pull-right {
				color: #999;
			}
			.mui-bar.mui-bar-nav .mui-icon {
				color: #F71454;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">用户中心</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a>姓名 <span class="mui-pull-right" id="userName"></span></a>
				</li>
				<!--<li class="mui-table-view-cell">
					<a>手机 <span class="mui-pull-right" id="phone"></span></a>
				</li>
				<li class="mui-table-view-cell">
					<a>注册时间 <span class="mui-pull-right" id="regTime"></span></a>
				</li>-->
			</ul>
			<ul class="mui-table-view" style="margin-top: 20px;">
				<li class="mui-table-view-cell" style="text-align: center;">
					<a id="exit">退出登陆</a>	
				</li>
			</ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script>
			!function($, doc) {
				
				$.init();
				
				var userNameEl = doc.getElementById('userName');
				var phoneEl = doc.getElementById('phone');
				var regTimeEl = doc.getElementById('regTime');
				var loginPage = null, order_in_page = null, order_out_page = null, stock_srch_page = null, main_page = null, finance_page = null;
				
				window.addEventListener('login.before.show', function() {
					var state = app.getState();
					userNameEl.innerText = state.userName;
				});
				
				window.addEventListener('logout', logout.bind(null, true));
				
				doc.getElementById('exit').addEventListener('tap', logout.bind(null, false));
				
				function logout(timeout) {
					if (!loginPage) {
						loginPage = plus.webview.getLaunchWebview();
					}
					if (!order_in_page) {
						order_in_page = plus.webview.getWebviewById('order-in.html');
					}
					if (!order_out_page) {
						order_out_page = plus.webview.getWebviewById('order-out.html');
					}
					if (!stock_srch_page) {
						stock_srch_page = plus.webview.getWebviewById('stock-srch.html'); 
					}
					if (!main_page) {
						main_page = plus.webview.getWebviewById('main');
					}
					if (!finance_page) {
						finance_page = plus.webview.getWebviewById('finance-srch.html');
					}
					
					var logoutHandle = function() {
						app.setState({});
						loginPage.show('pop-in', app.DURATION_TIME);
						setTimeout(function() {
							$.fire(order_in_page, 'logout.before.show');
							$.fire(order_out_page, 'logout.before.show');
							$.fire(stock_srch_page, 'logout.before.show');
							$.fire(main_page, 'logout.before.show');
							$.fire(finance_page, 'logout.before.show');
						}, 400)
					}
					
					if (timeout || $.os.ios) {
						logoutHandle();
						return;
					}
					
					var btnArray = [{
						title: "注销当前账号"
					}, {
						title: "直接关闭应用"
					}];
					plus.nativeUI.actionSheet({
						cancel: "取消",
						buttons: btnArray
					}, function(event) {
						var index = event.index;
						switch (index) {
							case 1:
								logoutHandle();
								break;
							case 2:
								plus.runtime.quit();
								break;
						}
					});
				}
				
			}(mui, document);
		</script>
	</body>
</html>
