<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/app.css" />
		<style>
			.mui-table-view-cell .mui-pull-right {
				color: #999;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">用户中心</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a>姓名 <span class="mui-pull-right" id="userName"></span></a>
				</li>
				<li class="mui-table-view-cell">
					<a>手机 <span class="mui-pull-right" id="phone">18682457945</span></a>
				</li>
				<li class="mui-table-view-cell">
					<a>编号 <span class="mui-pull-right" id="userCode"></span></a>
				</li>
				<li class="mui-table-view-cell">
					<a>注册时间 <span class="mui-pull-right" id="regTime">2015-12-22</span></a>
				</li>
			</ul>
			<ul class="mui-table-view" style="margin-top: 20px;">
				<li class="mui-table-view-cell" style="text-align: center;">
					<a id="exit">退出登陆</a>	
				</li>
			</ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script>
			!function($, doc) {
				$.init();
				
				var userNameEl = doc.getElementById('userName');
				var phoneEl = doc.getElementById('phone');
				var userCodeEl = doc.getElementById('userCode');
				var regTimeEl = doc.getElementById('regTime');
				
				window.addEventListener('login.before.show', function() {
					var state = app.getState();
					userNameEl.innerText = state.userName;
					userCodeEl.innerText = state.userCode;
				});
				
				doc.getElementById('exit').addEventListener('tap', function() {
					if ($.os.ios) {
						app.setState({});
						var loginPage = plus.webview.getLaunchWebview();
						loginPage.show('pop-in', 250);
						return;
					}
				})
				
			}(mui, document);
		</script>
	</body>
</html>
